<% include ../partials/header %> 

<%= user.username %>
<%= user.fullName %>
<a class="btn btn-success" href="/pacientes/<%= user._id %>/feedbacks/new">Add um novo feedback</a>
<% user.feedbacks.forEach(function(feedback){ %>
    <div class="row">
        <div class="col-md-12">
        <strong><%= feedback.autor.username %></strong>
        <p>
            <%= feedback.text %> 
        </p>
        <% if(currentUser && feedback.autor.id.equals(currentUser._id)){ %>
            <a class="btn btn-xs btn-warning" href="/campgrounds/<%=user._id%>/comments/<%=feedback._id%>/edit">
                Edit
            </a>
            <form id="del-form" action="/campgrounds/<%=user._id%>/comments/<%=feedback._id%>?_method=DELETE" method="POST">
                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
            </form>
        <% } %>
        </div>
    </div>
<% }); %>

<% include ../partials/footer %>